@charset "UTF-8";
body {
  font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
  font-size: 16px;
  color: #333;
  background: #D6DDD2 url("../img/bg.png") left top repeat;
}
body footer {
  display: none;
}
body .submitBtn button {
  background-color: #5F755E;
  border: 0;
  font-weight: 700;
  color: #F5F5F5;
}
body .submitBtn button:hover {
  background-color: #D3BD84;
}
body .container.login {
  width: 400px;
  height: 400px;
  background-color: #F5F5F5;
  margin-top: calc(50vh - 250px);
  border-radius: 50%;
}
body .container.login h1.webtitle {
  width: 337px;
  height: 95px;
  text-indent: -9999px;
  background: transparent url("../img/logo.png") left top no-repeat;
  margin-left: 20px;
}
body .container.login h2 {
  font-size: 1.4em;
  line-height: 2.5em;
  text-align: center;
  margin: 0;
  font-weight: 700;
  letter-spacing: 4.8px;
}
body .container.login .formBox label {
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 18px;
}
body .container.login .createAccount a {
  font-size: 20px;
  display: block;
  font-weight: 700;
  color: #5F755E;
  letter-spacing: 2px;
}
body .container.login .createAccount a:hover {
  color: #D3BD84;
}
body .Footer {
  color: #999;
  font-size: 0.8em;
  line-height: 1.8em;
  text-align: left;
  padding: 0 10%;
}

#newAccount .btn-close {
  color: #999;
  border: 2px solid #999;
}
#newAccount .btn-close:hover {
  border-color: #333;
}
#newAccount .modal-content .modal-header h2 {
  color: #5F755E;
  letter-spacing: 0.8em;
  font-weight: 700;
}
#newAccount .modal-content .modal-body {
  overflow-x: hidden;
}
#newAccount .modal-content .modal-body .remind a {
  color: #5F755E;
}
#newAccount .modal-content .modal-body .remind svg {
  margin: 0 3px;
  font-size: 32px;
}
#newAccount .modal-content .modal-body .remind > p {
  color: #D63900;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
}
#newAccount .modal-content .modal-body .table {
  background-color: bisque;
}
#newAccount .modal-content .modal-body .table .tableItems {
  font-size: 1rem;
  background-color: #d63900;
}
@media (max-width: 767px) {
  #newAccount .modal-content .modal-body .table .tableItems {
    padding: 0 15px;
  }
}
#newAccount .modal-content .modal-body .table .tableItems label {
  text-align: right;
  /* 手機版 */
  color: #D3BD84;
  font-weight: 700;
  line-height: 38px;
}
@media (max-width: 767px) {
  #newAccount .modal-content .modal-body .table .tableItems label {
    text-align: left;
  }
}
#newAccount .modal-content .modal-body .table .tableItems label.tn4, #newAccount .modal-content .modal-body .table .tableItems label.tn3, #newAccount .modal-content .modal-body .table .tableItems label.tn2 {
  letter-spacing: 1em;
}
#newAccount .modal-content .modal-body .table .tableItems label.tn5 {
  letter-spacing: 0.5em;
}
#newAccount .modal-content .modal-body .table .tableItems label.need {
  letter-spacing: 4px;
  line-height: 24px;
}
#newAccount .modal-content .modal-body .table .inputText {
  background-color: aqua;
}
#newAccount .modal-content .modal-body .table .bbLine {
  border-bottom: 1px solid #999;
}
#newAccount .modal-content .modal-body .table .inputRemind {
  color: #D63900;
  font-size: 14px;
  line-height: 14px;
}
#newAccount .modal-content .modal-body .table input::-moz-placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #CCC;
  letter-spacing: 0.2em;
}
#newAccount .modal-content .modal-body .table input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #CCC;
  letter-spacing: 0.2em;
}
#newAccount .modal-content .modal-body .table .optionsLabel {
  color: #333;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-size: 14px;
}
#newAccount .modal-content .modal-body .table .creationDateBox .form-check-label {
  margin-right: 0;
}
#newAccount .modal-content .modal-body .table .creationDateBox .form-check-label input[type=radio] {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 5px;
}
#newAccount .modal-content .modal-body .table .creationDateBox .form-check-label #creationDateInput {
  font-size: 16px;
  line-height: 35px;
  border: 1px dotted #999;
  border-radius: 3px;
  outline: none;
  text-align: center;
  letter-spacing: 0.2em;
}
#newAccount .modal-content .modal-body .table #helpItems {
  padding: 3px;
  resize: none;
  height: 80px;
}
#newAccount .modal-content .modal-body .table .lastItem label {
  line-height: 16px;
}
#newAccount .modal-content .modal-body .table .upLoadBox {
  border: 1px solid #999;
}
#newAccount .modal-content .modal-body .table .upLoadBox .upLoadTitle {
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 18px;
  color: #d63900;
}
#newAccount .modal-content .modal-body .table .upLoadBox label {
  color: #333;
  margin-bottom: 0;
  letter-spacing: 2px;
  cursor: pointer;
}
#newAccount .modal-content .modal-body .table .upLoadBox label:hover {
  color: #5F755E;
}
#newAccount .modal-content .modal-body .table .upLoadBox input[type=file] {
  display: none;
}
#newAccount .modal-content .modal-body .table .upLoadBox .fileInfo {
  color: #999;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */