$TitleGreen: #5F755E;
$LightGreen:#6B9089;
$TitleYellow: #D3BD84;
$DarkYellow: #B5984F;
$Black: #333;
$DarkGray:#555;
$Gray: #999;
$White: #F5F5F5;
$Gray-2: #E9E9E9;
$Gray-3: #E0E0E0;
$BackGround: #D6DED3;
$Error: #D63900;
$ttuRed: #D93C2D;
$DarkRed: #BB2D3B;
// $SecondGreen: #0B6D61;
// $TitleYellow:#ccb67a;
$SecondGreen: #164d46d2;

$colorBackground:#f9f9ff;
$colorPrimary:#242432;
$colorSecondary:#d8d8ea;
$colorSecondaryLight:#c0c0de;




//改Bootstrap顏色設定
.form-check-input:checked {
    background-color: $SecondGreen;
    border-color: $SecondGreen;
}

.btn-danger {
    background-color: $DarkRed;

    &:hover {
        background-color: $Error;
    }
}

.btn-success {
    background-color: $TitleGreen;
    border-color: $TitleGreen;


    &:hover {
        background-color: $SecondGreen;
        border-color: $SecondGreen;
    }
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    // background-color: $SecondGreen;
    background-color: $TitleYellow;
    border-color: $TitleYellow;

}