// @import "color";
@import "layout";


/* 手機版 */
@media (max-width: 767px) {}

@media (max-width: 992px) {}




/*-- firmIndex --------------------------------------*/

.allWrapper.firmIndex {

    h3 {
        font-size: 2em;
        letter-spacing: .5em;
    }

    h5 {
        font-size: 1.5em;
        letter-spacing: .3em;
    }


    .wrapperLeft {
        h5 {
            color: $Error;
        }

        table {


            thead {
                th {
                    font-size: 1.2em;
                    letter-spacing: .1em;

                    &:first-child {
                        letter-spacing: 1.5em;
                    }
                }


            }
        }
    }


    .wrapperRight {
        h5 {
            color: $Gray;
        }

        .entranceItems {
            display: block;
            height: 120px;
            width: 120px;
            padding: 30px 20px;
            background-color: $BackGround;
            text-decoration: none;
            color: $TitleGreen;

            &:hover {
                background-color: $TitleYellow;
            }

            p {
                margin-bottom: 0;
                line-height: 32px;
                font-size: 16px;
                font-weight: 700;

                svg {
                    font-weight: 700;
                    width: 32px;
                    height: 32px;
                }
            }

            .parkingLot {
                svg {
                    width: 19px;
                }
            }
        }
    }
}

/*-- JobIndex -----------------------------------*/

.allWrapper.Jobs {
    h1 {
        letter-spacing: .1em;
        color: $TitleGreen;

        @media (max-width: 992px) {
            font-size: 1.5em;
        }

        small {
            color: $Gray;
            letter-spacing: .05em;
        }
    }

    // -- 職缺列表-標籤區 --
    .nav-tabs {
        .nav-item {
            button {
                font-size: 1.1em;
                letter-spacing: .1em;
                color: $TitleGreen;

                @media (max-width: 992px) {
                    font-size: .9em;
                }

                // &.all {
                //     width: 6em;
                //     letter-spacing: .3em;
                //     text-align: center;
                // }

                &.active {
                    background-color: $TitleYellow;
                    color: $White;
                }

            }
        }
    }

    // -- 職缺列表-內容區 --
    .tab-pane {
        .table {
            font-size: 1em;

            @media (max-width: 992px) {
                font-size: 0.9em;
            }

            thead {
                th {
                    color: $SecondGreen;
                    letter-spacing: .2em;

                    @media (max-width: 992px) {
                        letter-spacing: 0;
                    }
                }
            }

            tbody {

                .startDate,
                .endDate {
                    font-size: 0.8rem;
                }

                td {
                    max-width: 10em;

                    &.jobTitle {
                        max-width: 7em;
                    }

                    button {
                        width: 1.7em;
                        padding: 0;
                        line-height: 1em;
                        border: 2px solid $Black;
                        border-radius: 50%;
                        padding: .1em;

                        i {
                            
                            font-size: 1.2em;
                        }
                    }
                }


            }

        }
    }

}

// -- 職缺列表-燈箱區 --
.jobLightBox {
    h2{
        color: $TitleGreen;
        letter-spacing: 0.8em;
        font-weight: 700;
    }
    .jobTable {

        .row {
            border-bottom: 1px solid $Gray-2;
            margin-bottom: 1em;

            @media (max-width: 992px) {
                border-bottom: 0;

                .lightBoxLabel {
                    text-align: start;
                }

                .lightBoxItems {
                    border-bottom: 1px solid $Gray-2;
                    padding-left: 2em;
                }
            }
        }

        .lightBoxLabel {
            padding: .5em;
            color: $SecondGreen;
            letter-spacing: .3em;
            text-align: center;
            font-weight: 700;
            font-size: 1.2em;
        }

        .lightBoxItems {
            padding: .5em;
            letter-spacing: .06em;
            text-align: start;
        }
    }

}

/*-- JobCreate -----------------------------------*/
.allWrapper.CreateJob {
    h1 {
        color: $TitleGreen;
    }

    .CreateJobForm {
        label {
            letter-spacing: .2em;
            color: $TitleGreen;
            font-weight: 700;
        }

        select {
            option {
                color: $TitleGreen;
            }

            optgroup {
                color: $TitleYellow;
            }
        }
    }

    // =========================待處裡==========================
    input[type="time"] {
        // width: 68.5%;
    }

    // =========================待處裡==========================

    .salaryRadio {
        .salaryLabel {
            display: none;

            &.choose {
                display: flex;
            }

            input[type="radio"] {
                width: 1em;
                margin: .5em;
            }

            .exampleInputAmount {
                margin: 0 0.3em;
            }

            .input-group-addon {
                padding: 10px;
            }
        }
    }

    .CreateJobFormFooter {
        button {
            letter-spacing: .2em;
        }

    }


}