// @import "color";
@import "layout";


/* 手機版 */
@media (max-width: 767px) {}




/*-- index --------------------------------------*/

.allWrapper.firmIndex {
    div {
        // outline: 1px solid red;
    }

    h3 {
        font-size: 2em;
        letter-spacing: .5em;
    }

    h5 {
        font-size: 1.5em;
        letter-spacing: .3em;
    }


    .wrapperLeft {
        h5{
            color: $Error;
        }

        table {


            thead {
                th {
                    font-size: 1.2em;
                    letter-spacing: .1em;

                    &:first-child {
                        letter-spacing: 1.5em;
                    }
                }


            }
        }
    }


    .wrapperRight {
        h5{
            color: $Gray;
        }
        .entranceItems {
            display: block;
            height: 120px;
            width: 120px;
            padding: 30px 20px;
            background-color: $BackGround;
            text-decoration: none;
            color: $TitleGreen;

            &:hover {
                background-color: $TitleYellow;
                // color: $Black;
            }

            p {
                margin-bottom: 0;
                line-height: 32px;
                font-size: 16px;
                font-weight: 700;

                svg {
                    font-weight: 700;
                    width: 32px;
                    height: 32px;
                }
            }

            .parkingLot {
                svg {
                    width: 19px;
                    // color: $TitleGreen;
                }
            }
        }
    }
}