@import "color";
@import "layout";

body {
    font-family: Arial,
    Helvetica,
    "微軟正黑體",
    sans-serif;
    // font-family: Microsoft JhengHei, Arial, sans-serif;
    // font-size: 18px;
    font-size: 16px;
    color: $Black;
}

h1 {
    font-size: 1.6em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
}


/* 手機版 */
@media (max-width: 767px) {
    body {
        // padding-top: 100px;
    }
}




/*-- index --------------------------------------*/

.container.firmIndex {
    h3 {
        font-weight: 700;

    }

    h5 {
        font-weight: 700;
        color: $Gray;
    }

    .wrapperLeft {
        h5 {
            color: $Error;
        }

        table {
            font-size: 16px;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            thead {
                th {
                    letter-spacing: .1em;

                    &:first-child {
                        letter-spacing: 1.5em;
                    }
                }

                tbody {}
            }
        }
    }


    .wrapperRight {
        .entranceItems {
            height: 120px;
            width: 120px;
            padding: 30px 20px;
            background-color: $BackGround;
            text-decoration: none;
            color: $TitleGreen;

            &:hover {
                background-color: $TitleYellow;
                color: $Black;
            }

            p {
                margin-bottom: 0;
                line-height: 32px;
                font-size: 16px;
                font-weight: 700;

                svg {
                    font-weight: 700;
                    width: 32px;
                    height: 32px;
                }
            }

            .parkingLot {
                svg {
                    width: 19px;
                    // color: $TitleGreen;
                }
            }
        }
    }

}